<div class="container">
	<footer class="footer">
		<small>
			Copyrights &copy; <a href="https://instagram.com/programmerthings">Programmer Things</a>
		</small>
		<nav>
			<ul>
				<li></li><%= link_to "About", about_path %>
			</ul>
		</nav>
	</footer>
</div>